<div id="container">

    <div class="heading">
        <h1>Advanced Techniques for Memory Management in Angular Applications</h1>
        <h3>What are memory leaks, and how do we deal with them?</h3>
    </div>

    <div class="content">
        <app-unsubscribing-from-observables-async-pipe></app-unsubscribing-from-observables-async-pipe>

        <app-unsubscribing-from-observables-on-ng-destroy></app-unsubscribing-from-observables-on-ng-destroy>

        <app-unsubscribing-from-observables-push-pipe></app-unsubscribing-from-observables-push-pipe>

        <app-unregister-event-listeners></app-unregister-event-listeners>

        <app-manual-subscription-management></app-manual-subscription-management>

        <app-rxjs-take-until></app-rxjs-take-until>
    </div>

</div>